{% extends "/base.html" %}
{% block title %}Edit{% endblock %}
{% block main %}
<form action="{{ url_for('poll.post_poll_edit', poll_id=poll.id) }}" method="post">
    <label for="poll-title">Title</label>
    <input type="text" name="title" id="poll-title" maxlength="100" value="{{ poll.title }}" required>
    <label for="poll-description">Description</label>
    <input type="text" name="description" id="poll-description" maxlength="200" value="{{ poll.description }}" required>
    <label for="poll-expires_at">Expires</label>
    <input type="datetime-local" name="expires_at" id="poll-expires_at"{% if poll.expires_at %} value="{{ poll.expires_at }}"{% endif %}>
    <button type="submit">Save</button>
    <a href="{{ url_for('poll.get_poll_delete', poll_id=poll.id) }}">Delete</a>
</form>

<hr>

<form action="{{ url_for('poll.post_manage_choices_new', poll_id=poll.id) }}" method="post">
    <label for="poll-choice-caption">Caption</label>
    <input type="text" name="caption" id="poll-choice-caption" maxlength="200" required>
    <button type="submit">Add</button>
</form>

<table>
    <caption>Existing Choices</caption>
    <thead>
        <tr>
            <th>Caption</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for choice in choices %}
        <tr>
            <td>{{ choice.caption }}</td>
            <td><a href="{{ url_for('poll.get_manage_choices_delete', poll_id=poll.id, choice_id=choice.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
