{% extends "/base.html" %}
{% block title %}New{% endblock %}
{% block main %}
<form action="{{ url_for('poll.post_new_poll') }}" method="post">
    <div class="mb-3 form-floating">
        <input class="form-control" type="text" name="title" id="poll-title" maxlength="100"
            placeholder="The Poll Title" required>
        <label for="poll-title">Title</label>
    </div>
    <div class="mb-3 form-floating">
        <textarea class="form-control" type="text" name="description" id="poll-description" maxlength="200"
            placeholder="The Poll Description" required></textarea>
        <label for="poll-description">Description</label>
    </div>
    <div class="mb-3">
        <label class="form-label" for="poll-expires_at">Expires</label>
        <input class="form-control" type="datetime-local" name="expires_at" id="poll-expires_at">
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
{% endblock %}
