{% extends "/base.html" %}
{% block title %}{{ poll.title }} - Report{% endblock %}
{% block main %}
<section class="padded">
    <h3>Download</h3>
    <a href="{{ url_for('poll.get_poll_report_csv', poll_id=poll.id) }}" download="{{ poll.title }}.csv">Download
        CSV</a>
    <a href="{{ url_for('poll.get_poll_report_json', poll_id=poll.id) }}" download="{{ poll.title }}.json">Download
        JSON</a>
    <a href="{{ url_for('poll.get_poll_report_json_with_meta', poll_id=poll.id) }}"
        download="{{ poll.title }}.json">Download
        JSON (With Meta)</a>
</section>
<section class="padded">
    <h3>Analytics</h3>
    <table>
        <caption>Choice Votes</caption>
        <thead>
            <tr>
                <th>Caption</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            {% for choice in choices %}
            <tr>
                <td>{{ choice.caption }}</td>
                <td>{{ choice.votes|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="chart-report">
        <div><canvas id="chart-votes-pie"></canvas></div>
        <div></div>
        <div></div>
    </div>
</section>
<script>
    load_report_graphs("{{ url_for('poll.get_poll_report_json', poll_id=poll.id) }}")
</script>
{% endblock %}
