<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Simple Polls</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="flex-center">
            <h1>Simple Polls</h1>
            <nav>
                <a href="{{ url_for('home.index') }}">Home</a>
                <a href="{{ url_for('poll.get_manage_polls') }}">Manage Polls</a>
                <a href="{{ url_for('poll.get_new_poll') }}">New Poll</a>
            </nav>
        </div>
        <h2>{{ self.title() }}</h2>
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer></footer>
</body>

</html>
