<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | {{ config.TITLE_NAME }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="flex-center">
            <h1>{{ config.TITLE_NAME }}</h1>
            {% include 'shared/navbar.html' %}
        </div>
        <h2>{{ self.title() }}</h2>
        {% include 'shared/flashed_messages.html' %}
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer>
        Running Simple Polls, provided by <strong><a href="https://github.com/enchant97">enchant97</a></strong>
    </footer>
</body>

</html>
