{% extends "/base.html" %}
{% block title %}Field Edit{% endblock %}
{% block main %}
<form class="mb-3" action="{{ url_for('survey.post_survey_field_edit', survey_id=survey.id, field_id=field.id) }}"
    method="post">
    <div class="mb-3 form-floating">
        <input class="form-control" type="text" name="caption" id="field-caption" maxlength="100"
            value="{{ field.caption }}" placeholder="The Field Caption" required autofocus>
        <label class="required" for="field-caption">Caption</label>
    </div>
    <select class="mb-3 form-select" name="field-type" id="field-type" aria-label="The Field Type" required>
        <option value="">Choose Field Type</option>
        {% for value in field_types %}
        <option value="{{ value }}" {% if value==field.field_type.value %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" name="required" id="field-required" value="1" {% if
            field.required %} checked{% endif %}>
        <label class="form-check-label" for="field-required">Required</label>
    </div>
    <a class="btn btn-outline-dark" href="{{ url_for('survey.get_survey_edit', survey_id=survey.id) }}">Cancel</a>
    <button class="btn btn-primary" type="submit">Save</button>
</form>

{% if allow_options %}
<div class="mb-3">
    <h2>Options</h2>
    <a class="mb-3 btn btn-outline-dark"
        href="{{ url_for('survey.get_survey_field_new_option', survey_id=survey.id, field_id=field.id) }}">New
        Option</a>
    <table class="table">
        <thead>
            <tr>
                <th>Caption</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for option in options %}
            <tr>
                <td>{{ option.caption }}</td>
                <td><a class="btn btn-danger"
                        href="{{ url_for('survey.get_survey_field_option_delete', survey_id=survey.id, field_id=field.id, option_id=option.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
