{% extends "/base.html" %}
{% block title %}New Option{% endblock %}
{% block main %}
<form action="{{ url_for('survey.post_survey_field_new_option', survey_id=survey.id, field_id=field.id) }}" method="post">
    <div class="mb-3 form-floating">
        <input class="form-control" type="text" name="caption" id="field-option-caption" maxlength="100"
            placeholder="The Caption" required autofocus>
        <label class="form-label" for="field-option-caption">Caption</label>
    </div>
    <a class="btn btn-outline-dark"
        href="{{ url_for('survey.get_survey_field_edit', survey_id=survey.id, field_id=field.id) }}">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
{% endblock %}
