{% extends "/base.html" %}
{% block title %}{{ survey.title }} - Analytics{% endblock %}
{% block main %}
<nav class="d-flex justify-content-center" aria-label="management navigation">
    <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link"
                href="{{ url_for('survey.get_survey', survey_id=survey.id) }}">View Survey</a></li>
        <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('survey.get_survey_edit', survey_id=survey.id) }}">Edit Survey</a></li>
            <li class="page-item disabled" aria-current="page"><a class="page-link"
                    href="{{ url_for('survey.get_survey_report', survey_id=survey.id) }}">View Analytics</a></li>
        </ul>
</nav>

<nav class="d-flex justify-content-center" aria-label="page section navigation">
    <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link" href="#section-downloads">Downloads</a></li>
        <li class="page-item"><a class="page-link" href="#section-metadata">Metadata</a></li>
        <li class="page-item"><a class="page-link" href="#section-per-field">Per Field</a></li>
        <li class="page-item"><a class="page-link" href="#section-charts">Charts</a></li>
    </ul>
</nav>

<section class="mb-4" id="section-downloads">
    <h3>Downloads</h3>
    <div class="d-flex flex-wrap gap-2 justify-content-center">
        <a class="btn btn-outline-dark" href="{{ url_for('survey.get_survey_report_csv', survey_id=survey.id) }}"
            download="{{ survey.title }}.csv">Download
            CSV</a>
        <a class="btn btn-outline-dark" href="{{ url_for('survey.get_survey_report_json', survey_id=survey.id) }}"
            download="{{ survey.title }}.json">Download
            JSON</a>
        <a class="btn btn-outline-dark" href="{{ url_for('survey.get_survey_report_json_with_meta', survey_id=survey.id) }}"
            download="{{ survey.title }}.json">Download
            JSON (With Meta)</a>
    </div>
</section>

<section class="mb-4" id="section-metadata">
    <h3>Metadata</h3>
    <table class="table" aria-label="metadata table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ survey.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ survey.description }}</td>
            </tr>
            <tr>
                <th>Expires</th>
                <td>{% if survey.expires_at %}{{ survey.expires_at }}{% else %}Never{% endif %}</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="mb-4" id="section-per-field">
    <h3>Per Field</h3>
    {% for field in fields %}
    <div class="mb-2">
        <h4>{{ field.caption }}</h4>
        {% if field.field_type in (FieldTypes.RADIO, FieldTypes.CHECK, FieldTypes.DROP_DOWN) %}
        <ul class="list-group">
            {% for option in field.options %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ option.caption }}
                <span class="badge bg-primary rounded-pill">{{ option.votes | length }}</span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        {% if field.values %}
        <ul class="list-group">
            {% for value in field.values %}
            <li class="list-group-item">{{ value.value }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="alert-light">No data recorded.</p>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</section>

<section class="mb-4" id="section-charts">
    <h3>Charts</h3>
</section>

<nav class="d-flex justify-content-center">
    <a class="btn btn-outline-primary btn-sm align-middle" href="#">Back To Top</a>
</nav>

<script>
    // load_report_graphs("{{ url_for('survey.get_survey_report_json', survey_id=survey.id) }}")
</script>
{% endblock %}
