{% extends "/base.html" %}
{% block title %}{{ survey.title }}{% endblock %}
{% block main %}
<nav class="d-flex justify-content-center" aria-label="management navigation">
    <ul class="pagination pagination-sm">
        <li class="page-item disabled" aria-current="page"><a class="page-link"
                href="{{ url_for('survey.get_survey', survey_id=survey.id) }}">View Survey</a></li>
        <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('survey.get_survey_edit', survey_id=survey.id) }}">Edit Survey</a></li>
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('survey.get_survey_report', survey_id=survey.id) }}">View Analytics</a></li>
        </ul>
</nav>

{% if survey.is_closed %}
<p class="alert alert-warning" role="alert">
    <strong>This survey has been marked as closed</strong>, so you cannot submit a response.
    If you believe this an error, please contact the survey creator.
</p>
{% endif %}

<form class="accordion accordion-flush" action="{{ url_for('survey.post_survey_vote', survey_id=survey.id) }}" method="post">
    <div aria-label="survey description">
        {% for paragraph in survey.description.split("\n") -%}
        <p>{{ paragraph }}</p>
        {% endfor -%}
    </div>

    {% for field in fields %}
    <fieldset class="mb-2" id="survey-field-{{ field.id }}">
        <legend>{{ field.caption }}</legend>
        {% if field.field_type == FieldTypes.RADIO %}
        {% for option in field.options %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{ field.id }}"
                id="survey-field-{{ field.id }}-option-{{ option.id }}" value="{{ option.id }}" {% if field.required
                %}required{% endif %}>
            <label class="form-check-label" for="">{{ option.caption }}</label>
        </div>
        {% endfor %}
        {% elif field.field_type == FieldTypes.CHECK %}
        {% for option in field.options %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ field.id }}"
                id="survey-field-{{ field.id }}-option-{{ option.id }}" value="{{ option.id }}" {% if field.required
                %}required{% endif %}>
            <label class="form-check-label" for="">{{ option.caption }}</label>
        </div>
        {% endfor %}
        {% elif field.field_type == FieldTypes.DROP_DOWN %}
        <select class="form-select" name="" id="" aria-label="{{ field.caption }}" {% if field.required %}required{%
            endif %}>
            <option value="">Select An Option</option>
            {% for option in field.options %}
            <option value="{{ option.id }}">{{ option.caption }}</option>
            {% endfor %}
        </select>
        {% elif field.field_type == FieldTypes.SHORT_TEXT %}
        <input class="form-control" type="text" name="{{ field.id }}" id="survey-field-{{ field.id }}-value"
            maxlength="60" aria-label="{{ field.caption }}" placeholder="short text..." {% if field.required
            %}required{% endif %}>
        {% elif field.field_type == FieldTypes.LONG_TEXT %}
        <textarea class="form-control" type="text" name="{{ field.id }}" id="survey-field-{{ field.id }}-value"
            maxlength="255" aria-label="{{ field.caption }}" placeholder="long text..." {% if field.required
            %}required{% endif %}></textarea>
        {% elif field.field_type == FieldTypes.EMAIL %}
        <input class="form-control" type="email" name="{{ field.id }}" id="survey-field-{{ field.id }}-value"
            aria-label="{{ field.caption }}" placeholder="example@example.com" {% if field.required %}required{% endif
            %}>
        {% elif field.field_type == FieldTypes.PHONE %}
        <input class="form-control" type="tel" name="{{ field.id }}" id="survey-field-{{ field.id }}-value"
            aria-label="{{ field.caption }}" placeholder="123456789" {% if field.required %}required{% endif %}>
        {% elif field.field_type == FieldTypes.INTEGER %}
        <input class="form-control" type="number" name="{{ field.id }}" id="survey-field-{{ field.id }}-value" step="1"
            aria-label="{{ field.caption }}" {% if field.required %}required{% endif %}>
        {% endif %}
    </fieldset>
    {% endfor %}
    {% if survey.is_closed %}
    <button class="btn btn-primary disabled" type="submit"
        title="You cannot submit as the survey is closed">Submit</button>
    {% else %}
    <button class="btn btn-primary" type="submit">Submit</button>
    {% endif %}
</form>
{% endblock %}
