:root {
    --bs-body-bg: #f8f8f8;
}

footer {
    text-align: center;
    margin-top: 100px;
    border-top-style: solid;
    padding-top: 10px;
}

.required:after {
    content:"*";
    color: var(--bs-red);
}
